#hero {
  background: url(../images/services-hero.jpg);
  background-size: cover;
  color: #fff;
  height: 375px;
  min-height: 375px;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

#hero .container h1 {
  font-variant: small-caps;
  padding-top: 1.5em;
}

#hero-tagline {
  font-family: 'Raleway', sans-serif;
}

#tagline-container {
  background-color: #eee;
  height: 175px;
  min-height: 175px;
  line-height: 175px;
}

#tagline {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

#about-container {
  padding-bottom: 5em;
  line-height: 27px;
  font-size: 1.75rem;
  background-color: #fff;
}

#about-container p {
  text-align: justify;
}

#location-container {
  padding-bottom: 5em;
  background-color: #eee;
}

#about-container .container,
#location-container .container,
#contact-container .container {
  width: 750px;
}

.map {
  margin-top: 1em;
}

#services-container {
  padding-bottom: 5em;
  background-color: #fff;
}

.services {
  list-style: none;
  padding: 0;
}

.services li {
  display: inline-block;
  font-size: 2.15rem;
}

.services li:hover {
  color: rgb(155,89,182);
  text-decoration: underline;
}

.services li {
  padding-left: 1.5em;
}

.services-more {
  text-align: center;
  font-size: 2.15rem;
  padding-top: 0.75em;
}

#contact-container {
  background-color: #eee;
  padding-bottom: 10em;
}

.contact-section h3 {
  padding-bottom: 0.75em;
  padding-top: 0.5em;
}

.contact-section p {
  font-size: 115%;
  padding-top: 0.75em;
}

.contact-label {
  font-family: 'Raleway', sans-serif;
  font-weight: 700 !IMPORTANT;
}

#footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  background-color: #2C3E50;
  color: #fff;
  height: 50px;
  min-height: 50px;
  line-height: 50px;
}