html, body {
  height: 100%;
  width: 100%;
  font-family: 'Libre Baskerville', serif !IMPORTANT;
  font-weight: 400;
  color: #4a4a4a !IMPORTANT;
  font-size: 105%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif !IMPORTANT;
  text-transform: uppercase;
  font-weight: 600 !IMPORTANT;
}

.bg {
  background-color: #f5f5f5;
}

.full-width {
  height: auto;
  width: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(156,39,176,0.4);
}

.section-title {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #8e24aa;
}

.emphasize {
  font-weight: 600;
}

p {
  margin: 0 !IMPORTANT;
}

.centered {
  text-align: center;
}